.head__text {
    background: linear-gradient(to right, rgba(128, 89, 238, 1) 10%, rgba(245, 245, 245, 1)60%);
}
.page__two__block p {
    font-size: 14px;
    line-height: 15.4px;
    font-weight: 600;
}
.page__two__block {
    display: flex;
    align-items: flex-start;
}
.page__two__block ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
}
.page__two__block input {
    width: 20px;
    margin: 8px 12px;
}
.page__two__block ul li {
    margin: 0;
    padding: 0;
}
.page__two__block ul li:first-child {
    margin-top:10px;
}
.page__two__block-item {
    width: 100%;
    margin-bottom: 36px;
    padding-bottom: 36px;
    border-bottom: 1px solid rgba(117, 101, 125, 0.2);
}