.head__text {
    color: rgba(255, 255, 255, 1);
    background: linear-gradient(to right, rgba(128, 89, 238, 1) 20%, rgba(255, 255, 255, 1)82%);
}
.color__buttoms {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 18px;
}
.color__buttom-item {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.color__buttom-item__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 10px 10px 10px;
}
.color__buttom-item__block span {
    margin: 0px 14px;
}
.color__buttom-item__block-button {
    width: 61px;
    height: 61px;
    border-radius: 50%;
    border: 1px dashed rgba(117, 101, 125, 1);
    margin: 0px 16px;
    background: none;
}
span {
    font-size: 12px;
    line-height: 13.2px;
    font-weight: 500;
}
.color__buttom-item__block-button:hover {
    background: radial-gradient(circle at center, rgba(208, 188, 242, 0.8), white);
}
.color__buttom-item__block-button:active {
    background: radial-gradient(circle at center, rgba(208, 188, 242, 0.8), white);
}
