.page__two__block input {
    max-width: 343px;
    margin: 10px 10px 10px 0px;
    padding: 0px;
    border-radius: 2px;
    width: 22px;
    height: 22px;
}
.page__two__block ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    border-bottom: 1px solid rgba(117, 101, 125, 0.2);
}
.page__two__block ul li:last-child {
    border-bottom: none;
}
label {
    text-align: left;
}
.page__two__block ul {
    margin: 15px 0 36px 5px;
}
