.head__text {
    background: linear-gradient(to right, rgba(128, 89, 238, 1) 10%, rgba(245, 245, 245, 1)60%);
}
.main__block6 {
    display: flex;
    flex-direction: column;
}
.page__two__block {
    align-items: flex-start;
    margin: 0px 16px;
}
.page__two__text {
    font-size: 16px;
    font-weight: bold;
    line-height: 15.2px;
    margin-top: 36px;

}
.page__two__text:nth-child(2) {
    margin-top: 36px;
}
.page__two__block ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 16px 0px 36px 0px;
    padding-bottom: 36px;
}
.page__two__block ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 13.2px;
    font-weight: 500;
}
.page__two__block input {
    width: 20px;
    margin: 8px 12px;
}
.page__two__block-ul {
    border-bottom: 1px solid rgba(117, 101, 125, 0.2);
    margin-bottom:36px;
}