.head__text {
    background: linear-gradient(to right, rgba(128, 89, 238, 1) 10%, rgba(255, 255, 255, 1)60%);
}
.main__block6 {
    display: flex;
    flex-direction: column;
}
.page__two__block {
    align-items: flex-start;
    margin: 4px 0px;
}
.page__two__text {
    font-size: 16px;
    font-weight: bold;
    line-height: 15.2px;
    margin-top: 36px;
}
.page__two__block p {
    margin: 0px 0px;
    font-size: 14px;
    line-height: 15.4px;
    font-weight: 600;
}
.page__two__text:nth-child(2) {
    margin-top: 36px;
}
.page__two__block ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 7px 0 36px -3px;
    padding: 0px 0px 36px 0px;
    border-bottom: 1px solid rgba(117, 101, 125, 0.2);
}
.page__two__block ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin:11px 0px -13px -4px;
    padding: 0px 0px 16px 0px;
    font-size: 12px;
    line-height: 13.2px;
    font-weight: 500;
}
.page__two__block input {
    width: 20px;
    margin: 0px 8px -3px 7px;
}
.radio_button {
    border: 1px solid rgba(117, 101, 125, 0.2);
}
